body {
    background-image: url(./rakam.jpg);
    background-size: cover;
  }
  .container {
    margin-top: 100px;

    display: flex;
    justify-content: center;

    flex-direction: column;
  }
  #sayi,
  #btn,
  #romen {
    margin: auto;
    width: 100px;
    height: 30px;
  }
  #btn {
    background-color: yellow;
    border: none;
    border-radius: 5px;
  }
  #sayi {
    width: 150px;
  }